.push.settings.json
.vscode/*
.idea/vcs.xml
.idea/.name
.idea/php.xml
.idea/connectors.iml
.idea/deployment.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/copyright/profiles_settings.xml
/src/FacebookConnector/appdata.cfg
/src/FacebookConnector/appdata_dev.cfg
/src/InstagramConnector/appdata.cfg
/src/LinkedinConnector/appdata.cfg
/src/ShopifyConnector/appdata.cfg
/src/TwitterConnector/appdata_dev.cfg
/src/TwitterConnector/appdata.cfg
.idea/*
.idea/php.xml